fastapi>=0.111.0
azure-search-documents>=11.6.0
openai>=1.30.0
pydantic>=2.7.0
pydantic-settings>=2.2.1
python-multipart>=0.0.9
PyYAML>=6.0.1
unstructured[csv,image,pdf]>=0.18.0
uvicorn[standard]>=0.30.0
